<section class="fixed top-0 w-screen overflow">
  <div class="bg-green-500">
    <div class="flex flex-nowrap justify-between p-8">
          <span class="flex justify-start">
            <ngx-iconify name="solar:hamburger-menu-line-duotone" class="text-white text-3xl"></ngx-iconify>
          </span>
      <span class="flex justify-center">
            <h1 class="text-white text-xl">Tabela de Jogos - Série A</h1>
          </span>
      <span class="flex justify-end gap-5">
            <ngx-iconify name="solar:filter-line-duotone" class="text-white"></ngx-iconify>
            <ngx-iconify name="solar:refresh-line-duotone" class="text-white"></ngx-iconify>
          </span>
    </div>
  </div>
  <div class="bg-white shadow-md p-8">
    <div>
      <img src="/assets/scorebr.png" alt="">
    </div>
  </div>
</section>

