
<section class="sidebar fixed top-0 bottom-0 bg-white p-4 lg:left-0 w-[260px] overflow-y-auto text-center shadow-xl">
  <div class="text-black text-lg mt-48">

    <!---TABELA DE JOGOS-->
    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-green-100 duration-700 ">
      <div>
        <a routerLink="/" class="flex items-center gap-3">
          <ngx-iconify name="solar:calendar-line-duotone" class="text-green-700"></ngx-iconify>
          <span>Tabela de jogos</span>
        </a>
      </div>
    </div>

    <!--CLASSIFICAÇÃO-->
    <div class="p-2.5 mt-3 flex items-center rounded-md px-4  hover:bg-green-100 duration-700">
      <a routerLink="/tabela" class="flex items-center gap-3">
        <ngx-iconify name="solar:ranking-line-duotone" class="text-green-700"></ngx-iconify>
        <span>Classificação</span>
      </a>
    </div>

    <!--PARTIDAS-->
    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-green-100 duration-700">
        <a routerLink="partidas" class="flex items-center gap-3">
          <ngx-iconify name="solar:stopwatch-line-duotone" class="text-green-700"></ngx-iconify>
          <span>Partidas</span>
        </a>
    </div>

    <!--RODADAS-->
    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-green-100 duration-700">
        <a routerLink="/rodadas" class="flex items-center gap-3">
          <ngx-iconify name="solar:" class="text-green-700"></ngx-iconify>
          <span>Rodadas</span>
        </a>
    </div>

    <!--PARTIDAS AO VIVO-->
    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-green-100 duration-700">
      <a routerLink="/partidasAoVivo" class="flex items-center gap-3">
        <ngx-iconify name="solar:tv-line-duotone" class="text-green-700"></ngx-iconify>
        <span>Partidas ao vivo</span>
      </a>
    </div>

    <!--ARTILHARIA-->
    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-green-100 duration-700">
      <a routerLink="/artilharia" class="flex items-center gap-3">
        <ngx-iconify name="solar:football-line-duotone" class="text-green-700"></ngx-iconify>
        <span>Artilharia</span>
      </a>
    </div>

    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-green-100 duration-700">
      <a routerLink="/fases" class="flex items-center gap-3">
        <ngx-iconify name="solar:" class="text-green-700"></ngx-iconify>
        <span>Fases</span>
      </a>
    </div>


  </div>
</section>

